graphviz
pydot
tensorflow==2.9.1
torchinfo==1.7.0
torchmetrics==0.9.3
hdf5plugin==3.3.1
tensorflow-addons==0.17.1
-f https://data.pyg.org/whl/torch-1.12.1+cu113.html
torch-scatter==2.0.9
torch-sparse==0.6.15
torch-cluster==1.6.0
torch-spline-conv==1.2.1
torch-geometric==2.1.0
